*{
    margin: 0;
}
.wrapper{
    width: 98%;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    background-color: #35424a;
    border-bottom:2px solid red;
}
nav{
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
    color: white;
}
div.name{
    flex-grow: 5;
    margin-left: 4%;
    margin-top: 2%;
}
div.as{
    margin-top: 2%;
    flex-grow: 1;
}
div.as a{
    padding: 0 1%;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.name .highlight, .as .highlight{
    color: red;
}
.as a:hover{
    color: #cccccc;
}

#showcase div{
    background: #D6D3CC ;
    padding:11% 9%;
    text-align: center;
    color: #35424a;
}
#showcase h1{
    font-size: 40px;
    margin-bottom: 2%;
}
#showcase p{
    margin: 0 10% ;
}
#newsletter{
    display: flex;
    justify-content: space-around;
    padding: 1.5% 7%;
    color: white;
    background-color:rgb(53, 66, 74);
    font-size: 13px;
}
#newsletter input[type='email']{
    padding: 3px;
    height: 20px;
    width: 60%;
}

#newsletter h1{
    margin-left: 9%;
    margin-top: 0.5%;   
}
.inn{
    flex-grow: 1;
}
.head{
    flex-grow: 2;
}
.button-1{
    height: 30px;
    border: 0;
    background: orange;
    padding: 0 4%;
}
#boxes{
    display: flex;
    justify-content: space-between;
}
.box{
    text-align: center;
    padding: 4%;
    width: 25%;
}
.box h1{
    margin: 7% 0;
}

p{
    line-height: 180%;
}
footer{
    text-align: center;
    color: black;
}

@media only screen and (max-width: 600px){
    nav{
        display: block;
        padding: 0 2%;
        text-align: center;
    }
    div.name {
        margin-top: 0;
    }
 div.name h1{
     padding: 3% 0;
 }
 div.as{
     padding-bottom: 2%;
 }
    div.as a{
     padding: 0 6%;
 }
 #showcase div h1{
    font-size: 25px;
}
#showcase div p{
    font-size: 13px;
    margin: 0;
}

}

@media only screen and (max-width: 650px){
    #newsletter{
        display: block;
        text-align: center;
    }
    #newsletter .head h1{
        margin: 4% 0;
    }
  #newsletter input[type='email']{
        display: block;
        margin-left: 15.5%;
        margin-bottom: 2%;
        padding: 8px;
        height: 26px;
        width: 77.5%;
    }
    .button-1{
        margin-left: 12%;
        height: 35px;
        padding: 0 35%;
        margin-bottom: 1% ;
    }
    
}

@media only screen and (max-width: 1000px){
    #boxes{
        display: block;
    }

    .box{
        text-align: center;
        padding: 4%;
        width: 55%;
        margin: 2% 20%;
    }
    .box h1{
        margin: 7% 0;
    }
    
    p{
        line-height: 180%;
    }
}
